# One thing to be careful of (not that I ever made this mistake or spent an entire week figuring it out or anything....) Keep naming consistant, if you call your server srm.kcss.com (nginx.conf) then certbot should also be making an ssl cert for srm.kcss.com if you call your repo srm, then call the place where you keep the files srm (/etc/nginx/sites-available/srm). This will make your life so much easier in 10 months when you need to update this and you have completely forgotten everything that you did

# Steps to install nginx
# sudo apt update && sudo apt upgrade
# sudo apt install nginx 

# Go to where your code is and run something very similar to 
# sudo mkdir -p /var/www/html
# cp ./index.html /var/www/html/                      # you might need to remove a "../" from your imports in index.html
# cd ../                                              # go back to the rest of your code 
# cp -r ./ pages ./scripts/ ./styles /var/www/html    # the -r is recursive mode (do everything in the folder)
# sudo chown -R www-data:www-data /var/www/html       # this makes sure nginx can use the files

# If I were you, I would now install certbot and letsencrypt
# certbot will keep ssl certs up to date automagically, so you don't need to do anything... And it's free! Fuck black box hosting... Don't need it!!!
# sudo apt install certbot python3-certbot-nginx
# sudo certbot --nginx -d <whatever url you set up with your a records, something like sam-is-sexy.kcss.com>

# Move this file to the correct place and set up
# mkdir /etc/nginx/sites-available/<I would name this the same as your repo>
# sudo cp nginx.conf /etc/nginx/sites-available/<repo name here>
# sudo ln -s /etc/nginx/sites-available/<repo name here> /etc/nginx/sites-enabled/     #this makes a symbolic link to YOUR config (there is a default one that might need to be removed first for this to work. don't delete the file, just the symbolic link, this is the command to remove the default one... sudo rm /etc/nginx/sites-enabled/default (you only need to run this once))
# sudo nginx -t                # test configuration 
# sudo systemctl restart nginx              # restart nginx, grasp your balls and hope that sam didn't forget anything...

server {
    listen 443 ssl http2; # no http (https only)
    server_name localhost; # Call this whatever you want, most of the time people call it the name of their platform

    ssl_certificate /path/to/your/certificate.crt; # Tom, you will need to set this up, I would do with lets encrypt + certbot
    ssl_certificate_key /path/to/your/private.key;

    root /var/www/html; # Remember this location, this is where your file needs to sit. 
    index index.html; # So would be /var/www/html/index.html (remember your imports need to be relative from this file!)

    location / { # These just add headers so that people can request info from a browser "CORS"
        add_header 'Access-Control-Allow-Origin' '*' always;
        add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS' always; # I only ever to GET and OPTIONS, unless you need more
        add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept, Authorization' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE';
            add_header 'Access-Control-Allow-Headers' 'Origin, X-Requested-With, Content-Type, Accept, Authorization';
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
        }

        try_files $uri $uri/ =404;
    }
}
